PORT=5000
MONGO_URI=mongodb://ariana:Ariana12345@ac-v74trk1-shard-00-00.rt2n2pk.mongodb.net:27017,ac-v74trk1-shard-00-01.rt2n2pk.mongodb.net:27017,ac-v74trk1-shard-00-02.rt2n2pk.mongodb.net:27017/?ssl=true&replicaSet=atlas-n5r80a-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=secret123
